<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zoo</title>
</head>
<body>

<header>
    <h1 class="header-title">Welcome to OUR ZOO!</h1>
</header>

<main>
    <p>We manage:</p>
    <a th:href="@{'animals/list_animals/' + ${initialAnimal.code}}">Animals</a>
    <a th:href="@{'zookeepers/list_zookeepers/' + ${initialZookeeper.cnp}}">Zookeepers</a>
    <a th:href="@{'areas/list_zoo_areas'}">Zoo areas</a>
    <a th:href="@{'reports/reports'}">Reports</a>
</main>

</body>
</html>